.statisticsPageContainer {
    background: linear-gradient(207deg, #341fa0 44.63%, #652392 88.57%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}