/* 
.ReactModal__Content {
  max-width: 100vw;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%);
  backdrop-filter: blur(20px);
  border-radius: 8px;
}

.ReactModal__Overlay {
  background-color: rgba(136, 134, 134, 0.25);
  backdrop-filter: blur(1.5px);
} */

@media (max-width: 768px) {
  .ReactModal__Content {
    max-width: 100vw;
    max-height: 100vh;
  }
  .ReactModal__Overlay{
  background-color: transparent;
  }
}


  .customModal {
    background: none;
    padding: 0;
    border-radius: 8px;
    /* background: #b2dbbf; */
    max-width: 500px;
    width: 100%;
    box-shadow:none;
    position: absolute;
    z-index: 200;
  }
  @keyframes customEnterOverlayAnimation {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes customLeaveOverlayAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes customEnterModalAnimation {
    0% {
      transform: scale(0.2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes customLeaveModalAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.2);
    }
  }