.bg{
background-color: blue;
height: 100vh;
}

.homebar {
    display: flex;
    justify-content: space-between;
    border: 2px solid blue;
}
.userexit {
    display: flex;
    gap: 15px;
}
.container {
    display: flex;
}
.leftdiv {
    width: 35%;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}
.rightdiv {
    width: 65%;
    border: 2px solid blue;
}